<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="podcast styles.css">
</head>
<body>

<h1>Podcasts</h1>
<a href="../website.html">Home</a>
<h3>Channel Rules</h3>
<div>
<audio controls>
<source src="Channel Rules.wav" type="audio/wav"/>
</audio>
</div>
<p>Here's some simple guidelines for how my podcasts will operate.<br>
I recommend that you listen to this before diving into all of my speculation.</p>

</body>
</html>
